*{
  margin: 0;
  padding: 0;
}

.main-content{
  position: relative;
display: auto;
align-items: center;
justify-content: center;
background-color: black;
height: auto;
}
.main-content::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  background-image: url("images/background.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

  .H1 {
    position: relative;
    color: crimson;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .p{
    position: relative;
    color: crimson;
    text-align: center;
    text-transform: uppercase;
    font-family: "Courier New" "monosapce" ;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#f1{
  position: relative;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: crimson;
}

#a1{
  position: relative;
  color: crimson;
  text-align: center;
}