* {
  margin: 0;
  padding: 0;
}

.main-content {
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: auto;
  font-weight: 400;
}
.main-content::before {
  margin: auto;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  background-image: url("/images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
header {
  background-color: darkslategrey;
  position: relative;
}
nav {
  position: relative;
  float: right;
  
}
nav ul{
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  position: relative;
  display: inline-block;
  margin-left: 25px;
  padding:15px;
}
nav a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;

}
nav a:hover{
  color: gray;
}

.id1 {
  font-size: 15px;
  color: gray;
  font-weight: bold;
}

.H1 {
  position: relative;
  color: gray;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.p {
  position: relative;
  color: gray;
  text-align: center;
  text-transform: uppercase;
  font-family: "Courier New" "monosapce";
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.H2 {
  position: relative;
  color: gray;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#log {
  position: relative;
  float: center;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
table,
th,
td {
  position: relative;
  background-color: gray;
  text-align: center;
  border: 1px solid;
  border-color: black;
  font-size: 20px;
}
.button {
  position: relative;
  border-radius: 8px;
  background-color: whitesmoke;
  border: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1px 10px;
}
.button1 {
  position: relative,;
  background-color: white;
  color: gray;
  border: 2px solid gray;
  border-radius: 30%;
}
.button1:hover {
  position: relative;
  background-color: gray;
  color: white;
}

.form {
  position: relative;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: gray;
}

#a1 {
  position: relative;
  color: gray;
  text-align: center;
}
#rules {
  position: relative;
  color: gray;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
div {
  position: relative;
}
#div1{
  position: relative;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: gray;
}
footer{
  background-color: darkslategrey;
  position: relative;
  color:green;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding:15px;

}
@media screen and (max-width: 600px) {
  .id1 {
    font-size: 15px;
    color: gray;
    font-weight: bold;
  }
  .main-content {
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: auto;
  }
  .main-content::before {
    margin: auto;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    background-image: url("/images/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .H1 {
    position: relative;
    color: gray;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .p {
    position: relative;
    color: gray;
    text-align: center;
    text-transform: uppercase;
    font-family: "Courier New" "monosapce";
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .H2 {
    position: relative;
    color: gray;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  table,
  th,
  td {
    position: relative;
    background-color: gray;
    text-align: center;
    border: 1px solid;
    border-color: black;
    font-size: 10px;
  }
  button {
    position: relative;
    font-size: 10px;
    position: relative;
    border-radius: 50%;
  }
  .form {
    position: relative;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: gray;
  }

  #a1 {
    position: relative;
    color: gray;
    text-align: center;
  }
  #rules {
    position: relative;
    color: gray;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  div {
    position: relative;
  }
}